html 
    head 
        link(href= '/styles.css', rel= 'stylesheet')
    body 
        h1= showdata.title
        h2(class="main") Developed By
        ul 
            for developer in showdata.developedBy
                li= developer
        h2(class="main") Starring
        ul  
            for star in showdata.starring 
                li= star
        h2(class="main") Seasons  
        ul
            for season in showdata.seasons
                li
                    a(href=`/seasons/${season.number}`)=`Season ${season.number}` 